.idea
./administrator
./api
./cache
./cli
./components
./images
./includes
./language
./layouts
./libraries
./media
./modules
./plugins
./templates
./tmp
*

!./administrator/components/com_tagebuch
!./components/com_tagebuch
!./media/com_tagebuch
!./administrator/components/com_cbks
!./components/com_cbks
!./administrator/components/com_energies
!./components/com_energies
!./administrator/components/com_repairs
!./components/com_repairs
!./administrator/components/com_wartungen
!./components/com_wartungen
!./administrator/components/com_wind
!./components/com_wind
!./administrator/components/com_mywalks
!./components/com_mywalks
!./administrator/language/de-DE
!./administrator/language/en-GB
!./language/de-DE
!./language/en-GB