.idea
./administrator
./api
./cache
./cli
./components
./images
./includes
./language
./layouts
./libraries
./media
./modules
./plugins
./templates
./tmp
*

!./administrator/components/com_tagebuch
!./components/com_tagebuch
